<h1>Campusmack Sign up</h1>
<span class="required">* Required fields</span>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :validate => true )  do |f| %> 
 <% devise_error_messages! %>
<%= render 'fields', :f => f %>
<div class="actions">
	<%= f.submit "Sign up" %> 
</div>
<% end %>

<%#render :partial => "devise/shared/links" %>
