<h1>Edit comment</h1>
<%= form_for @comment do |f| %> 
<%= render '/shared/comments', :f => f %>

<div class="actions">
  	<%= f.submit "Update Comment" %>	
</div>
<% end %>
<div><%= button_to "Delete Comment", @comment, :method => :delete,
														:confirm => "You sure"%>
</div>
