<%- if devise_mapping.omniauthable? %>
    <p>Supported Alternate Sign In Services:</p>
    <div class="logos">
      <%= render 'shared/services_list' %>
    </div>
    <br style='clear:both' />
<% end %>
