<div class="title_box">
  <h2>OR USING THE FOLLOWING</h2>
</div>
<div class="sign_up_with_container">
  <%- if devise_mapping.omniauthable? %>
      <%= render 'shared/sign_up_services_list' %>
  <% end %>
</div>