<div class="title_box">
  <h2>OR USING THE FOLLOWING</h2>
</div>
<div class="sign_up_with_container">
  <%- if devise_mapping.omniauthable? %>
      <ul>
        <%- User.omniauth_providers.each do |provider| %>
            <%= sign_up_service_link(provider, sign_in_or_up) %>
        <% end -%>
      </ul>
  <% end %>
</div>
