header a.marketplace {
    width: 210px
}

.clear {
    clear: both;
    height: 0;
    overflow: hidden
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline
}

*:focus {
    outline: 0
}

body {
    color: #000;
    background: #fff
}

a {
    text-decoration: none
}

a:hover {
    text-decoration: underline
}

ol, ul {
    list-style: none
}

table {
    border-collapse: separate;
    border-spacing: 0;
    vertical-align: middle
}

caption, th, td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle
}

img a {
    border: none
}

header {
    background-color: #232323;
    border-bottom: 1px solid #151515;
    display: block;
    min-width: 984px;
    position: relative;
    *z-index: 8001
}

header .container {
    height: 64px;
    position: relative
}

header .marketplace {
    display: block;
    position: relative
}

header .marketplace h2 {
    display: block;
    position: absolute;
    left: -12px;
    top: 14px;
    color: silver;
}

nav[role=navigation] {
    background-color: #333333;
    border-top: 1px solid #383838;
    border-bottom: 1px solid #444444;
    -moz-box-shadow: 0 2px 0 0 #262626, 0 -1px 0 0 #171717;
    -webkit-box-shadow: 0 2px 0 0 #262626, 0 -1px 0 0 #171717;
    -o-box-shadow: 0 2px 0 0 #262626, 0 -1px 0 0 #171717;
    box-shadow: 0 2px 0 0 #262626, 0 -1px 0 0 #171717;
    display: block;
    margin-bottom: 2px;
    min-width: 984px;
    position: relative;
    z-index: 3100
}

nav[role=navigation] > ul {
    position: relative;
    left: -5px
}

nav[role=navigation] ul, .info-nav {
    margin: 0 auto;
    list-style: none;
    width: 994px
}

nav[role=navigation] ul li, .info-nav li {
    display: inline-block;
    float: left;
    font-size: 12px;
    line-height: 18px;
    position: relative;
    z-index: 5000
}

nav[role=navigation] ul li .dropdown, .info-nav li .dropdown {
    background-color: #fff;
    border-bottom: 1px solid rgba(35, 35, 35, 0.2);
    -moz-box-shadow: 4px 4px 0 0 rgba(35, 35, 35, 0.1);
    -webkit-box-shadow: 4px 4px 0 0 rgba(35, 35, 35, 0.1);
    -o-box-shadow: 4px 4px 0 0 rgba(35, 35, 35, 0.1);
    box-shadow: 4px 4px 0 0 rgba(35, 35, 35, 0.1);
    display: none;
    left: 0;
    padding: 6px 15px;
    position: absolute;
    top: 39px;
    width: 150px;
    z-index: 9999
}

nav[role=navigation] ul li .dropdown ul, .info-nav li .dropdown ul {
    width: 100%;
    list-style-type: none
}

nav[role=navigation] ul li .dropdown li, .info-nav li .dropdown li {
    display: block;
    float: none;
    font-size: inherit;
    line-height: 24px;
    margin: 0;
    padding: 0;
    z-index: auto
}

nav[role=navigation] ul li .dropdown li a, .info-nav li .dropdown li a {
    border-bottom: 0;
    color: #7e7e7e;
    display: block;
    font-size: inherit;
    line-height: 24px;
    margin: 0;
    padding: 0;
    position: static;
    text-shadow: 0 0 transparent
}

nav[role=navigation] ul li .dropdown li:hover, .info-nav li .dropdown li:hover {
    background: transparent
}

nav[role=navigation] ul li .dropdown a:hover, .info-nav li .dropdown a:hover {
    background: transparent;
    color: #232323;
    text-decoration: none
}

nav[role=navigation] ul .meta-links, .info-nav .meta-links {
    border-top: 1px solid #fff;
    -moz-box-shadow: 0 -1px 0 0 #cccccc;
    -webkit-box-shadow: 0 -1px 0 0 #cccccc;
    -o-box-shadow: 0 -1px 0 0 #cccccc;
    box-shadow: 0 -1px 0 0 #cccccc;
    margin-top: 4px;
    padding-top: 1px
}

nav[role=navigation] ul a, .info-nav a {
    border-bottom: 1px solid transparent;
    color: #c5c5c5;
    font-size: 12px;
    line-height: 18px;
    margin-top: 9px;
    padding: 6px 10px;
    position: relative;
    display: inline-block;
    text-shadow: 0 1px rgba(29, 29, 29, 0.2);
    top: -1px
}

nav[role=navigation] ul li:hover a, .info-nav li:hover a {
    background: #785a3a;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #8a6741), color-stop(100%, #705536));
    background-image: -webkit-linear-gradient(#8a6741, #705536);
    background-image: -moz-linear-gradient(#8a6741, #705536);
    background-image: -o-linear-gradient(#8a6741, #705536);
    background-image: linear-gradient(#8a6741, #705536);
    border-bottom: 1px solid #1b0b00;
    color: #fff;
    text-decoration: none
}

nav[role=navigation] ul li:hover div, .info-nav li:hover div {
    display: block
}

nav[role=navigation] ul li:hover div a, .info-nav li:hover div a {
    background: transparent;
    border-bottom: 0
}

nav[role=navigation] .search-container {
    display: block;
    float: right;
    line-height: 45px;
    position: relative
}

.inner-border {
    padding: 20px;
    overflow: hidden
}

.inner-border ul {
    list-style: none;
    margin: 0 auto;
    overflow: hidden
}

ul.colleges  li {
    float: left;
    width: 25%;
    height: 2em;
}

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
    font-size: 0
}

.info-nav {
    float: right;
    list-style: none;
    margin: 17px 0 0;
    padding: 0;
    width: auto;
    z-index: 3200
}

.info-nav a {
    color: #7E7E7E;
    *display: block;
    margin-top: 0
}

.account-wrapper {
    float: right;
    position: relative;
    margin-top: 15px;
    margin-left: 13px
}

#user-account-nav {
    color: #d3d3d3;
    list-style: none;
    padding: 0;
    position: relative;
    z-index: 4050
}

#user-account-nav li {
    display: block;
    float: left
}

#user-account-nav li a {
    border: 1px solid transparent;
    border-right: none;
    color: #666565;
    cursor: pointer;
    display: block;
    font-size: 12px;
    line-height: 12px;
    padding: 9px 4px 12px;
    position: relative;
    text-shadow: 0 1px rgba(29, 29, 29, 0.2);
    z-index: 6050
}

#user-account-nav li .user_balance {
    color: #f5f5f5;
    font-weight: bold;
    padding-right: 5px
}

#user-account-nav li div {
    background: #1f1f1f;
    background: rgba(31, 31, 31, 0.98);
    border-bottom: 1px solid rgba(35, 35, 35, 0.2);
    -moz-border-radius: 0 0 9px 9px;
    -webkit-border-radius: 0 0 9px 9px;
    -o-border-radius: 0 0 9px 9px;
    -ms-border-radius: 0 0 9px 9px;
    -khtml-border-radius: 0 0 9px 9px;
    border-radius: 0 0 9px 9px;
    -moz-box-shadow: 4px 4px 0 0 rgba(35, 35, 35, 0.1);
    -webkit-box-shadow: 4px 4px 0 0 rgba(35, 35, 35, 0.1);
    -o-box-shadow: 4px 4px 0 0 rgba(35, 35, 35, 0.1);
    box-shadow: 4px 4px 0 0 rgba(35, 35, 35, 0.1);
    display: none;
    left: 0;
    overflow: hidden;
    padding: 10px 20px;
    position: absolute;
    right: 0;
    top: 35px;
    z-index: 6000
}

#user-account-nav li div ul {
    list-style-type: none
}

#user-account-nav li div li a {
    color: #7e7e7e;
    padding: 5px 0 8px
}

#user-account-nav li div li a:hover {
    background: transparent;
    color: #C5C5C5;
    text-decoration: none
}

#user-account-nav li div li, #user-account-nav li div li a {
    background: transparent;
    border: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    display: block;
    float: none
}

#user-account-nav > li:hover {
    border-bottom: 0
}

#user-account-nav > li:hover > a {
    background-color: #785a3a;
    border: 1px solid #150000;
    border-right: none;
    color: #fff;
    text-decoration: none;
}

#user-account-nav > li:hover span {
    color: #fff
}

#user-account-nav > li:hover div {
    display: block
}

#homepage #content {
    border-top: 0;
    padding-top: 20px
}

#footer {
    background-color: #333;
    border-bottom: 1px solid #444;
    border-top: 1px solid #383838;
    -moz-box-shadow: 0px 2px 0px 0px #262626, 0px -1px 0px 0px #171717;
    -webkit-box-shadow: 0px 2px 0px 0px #262626, 0px -1px 0px 0px #171717;
    -o-box-shadow: 0px 2px 0px 0px #262626, 0px -1px 0px 0px #171717;
    box-shadow: 0px 2px 0px 0px #262626, 0px -1px 0px 0px #171717;
    color: #8f887c;
    font: 12px/22px tahoma, Geneva, sans-serif;
    min-width: 984px
}

#footer .container {
    margin: 0 auto;
    width: 984px
}

#footer a {
    color: #8f887c
}

#footer h3 {
    color: #DED9CD;
    font-size: 14px;
    font-family: ProximaNovaSoft, Helvetica, Geneva, sans-serif;
    margin-bottom: 10px;
    padding: 0
}

#footer input {
    background-color: #2a2a2a;
    border: 1px solid #484848;
    color: #7e7e7e;
    font-family: tahoma, Geneva, sans-serif;
    font-size: 12px;
    height: 13px;
    padding: 8px;
    margin-bottom: 8px;
    width: 183px
}

#footer button {
    font-size: 10px
}

#footer .left {
    float: left;
    padding: 35px 0;
    width: 226px
}

#copyright {
    background-color: #232323;
    border-bottom: 1px solid #151515;
    margin-top: 2px;
    min-width: 984px;
    height: 125px
}

#copyright .container {
    width: 984px;
    margin: 0 auto
}

#copyright .copyright {
    padding-top: 35px
}

#copyright a {
    color: #cda869;
    text-decoration: none
}

#copyright a:hover {
    text-decoration: underline
}

#copyright p {
    color: #837e76;
    font-size: 9px;
    padding: 10px 0
}

#copyright span {
    padding: 0 7px
}

.container {
    margin: 0 auto;
    width: 984px
}

html {
    overflow-y: scroll
}

body {
    background-color: #d2d1d0;
    font: 13px tahoma, Geneva, sans-serif;
    margin: 0 auto;
    text-align: left
}

.main {
    background-image: url('http://1.envato-static.com/images/common/backgrounds/burst.png?1311218499');
    background-repeat: no-repeat
}

#content {
    background-color: #d2d1d0;
    border-top: 1px solid #fff;
    margin: 0 auto; /*min-height: 540px;*/
    padding: 20px 0 30px;
}

.item-preview .inner-boundary .inner-border {
    padding: 10px;
    min-height: 300px
}

body#homepage #breadcrumbs a {
    display: none
}

.error {
    background: #fac7ae url('http://1.envato-static.com/images/common/icons-buttons/alert.gif?1311218500') no-repeat 19px 20px;
    border: 1px solid #bb726f;
    padding: 20px;
    padding-left: 70px
}

.notice {
    background: #f5f5b4 url('http://3.envato-static.com/images/common/icons-buttons/info.gif?1311218501') no-repeat 20px 15px;
    border: 1px solid #b6a375;
    padding: 20px;
    padding-left: 60px
}

.success {
    background: #b7cf9d url('http://2.envato-static.com/images/common/icons-buttons/success.gif?1311218502') no-repeat 15px 10px;
    border: 1px solid;
    border-color: #6e8768;
    background-color: #cbe6c2;
    padding: 20px;
    padding-left: 70px
}

.error, .notice, .success {
    color: #404040;
    margin-bottom: 10px;
}

.error ul, .error ol, .notice ul, .notice ol, .success ul, .success ol {
    margin-bottom: 6px;
    margin-top: 6px;
    list-style-position: outside;
    margin-left: 20px
}

.error ul li, .error ol li, .notice ul li, .notice ol li, .success ul li, .success ol li {
    padding-left: 8px;
    margin-bottom: 2px
}

.error ul, .notice ul, .success ul {
    list-style-type: square
}

.error ol, .notice ol, .success ol {
    list-style-type: decimal
}

.error p, .notice p, .success p {
    padding-top: 0px
}

div.shadowed {
    border: 1px solid #bbb
}

div.shadowed div.inner-boundary {
    margin: -2px 0px 0px -2px;
    border: 1px solid #bbb;
    background-color: #f4f4f4;
    background-image: url('http://2.envato-static.com/images/common/backgrounds/white_line.png?1311218499');
    background-repeat: repeat-x
}

div.shadowed div.inner-boundary div.inner-border {
    border: 1px solid #fefefe;
    background-color: #f4f4f4
}

.inner-boundary {
    border: 1px solid #d5d5d5
}

.inner-boundary .inner-border {
    border: 1px solid #fefefe
}

div.container .jqTransformSelectWrapper ul a:hover, div.container .jqTransformSelectWrapper ul a.selected:hover {
    background-color: #69472a
}

body {
    font-size: 13px;
    color: #444;
    font-family: Tahoma, Geneva, sans-serif
}

h1, h2, h3, h4, h5, h6 {
    font-family: ProximaNovaSoft, Helvetica, Geneva;
    padding: 10px 0px 20px 0px;
    color: #191919
}

h1 {
    font-size: 37px;
    padding: 12px 0px 10px 0px
}

h2 {
    font-size: 27px;
    line-height: 35px
}

h3 {
    font-size: 24px
}

h4 {
    font-size: 19px
}

h5 {
    font-size: 17px
}

p {
    padding: 10px 0px
}

b {
    font-weight: normal
}

.posts li {
    list-style: none;
    background-color: #ddd;
    padding: 20px;
    font-size: 11px;
    position: relative;
     margin-top: 10px;
}

.posts li p {
    font-size: 13px
}

.posts li h3 {
    width: 310px;
    line-height: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0px
}

.posts li h3 a {
    font-size: 16px;
    font-family: Helvetica, sans-serif;
    color: #171717;
    font-weight: bold
}

.posts li .info {
    float: right;
    margin-left: 20px;
    width: 100px;
    text-align: center;
    position: relative;
    padding-top: 40px
}

.posts div.vote {
    float: right;
    width: 15%;
}

.count {
    width: 5%;
    font-size: 20px;
    vertical-align: middle;
    padding-top: 90px;
}

span.vote {
    color: #000066;
    font-size: 50px;
    text-align: center;
}

input {
    font-family: Tahoma, Geneva, sans-serif
}

input.disabled, select.disabled {
    border: 1px solid #ccc !important
}

input.disabled, select.disabled option {
    color: #ccc !important
}

input[type='text'].disabled, select.disabled {
    background: #fff url('http://3.envato-static.com/images/common/forms/input_bg_slice_disabled.png?1311218499') repeat-x top left !important
}

textarea {
    font-family: tahoma, geneva, sans-serif
}

.jqTransformSelectWrapper ul li {
    margin-bottom: 0px;
    padding-left: 0px
}

.post:after {
    content: ".";
    visibility: hidden;
    display: block;
    clear: both;
    height: 0;
    font-size: 0
}

.post{
    position: relative;
    clear: both;
    padding: 5px 2px 5px 0px
}

.post .inner-boundary {
    min-height: 95px
}

.post div.shadowed {
    float: right;
    width: 512px;
    border-color: #c3bfbe
}

#services_list li {
    float: left;
}

#services_list li img {
    float: left;
}

#services_list li a {
    margin-top: 20px;
}

#services_list a:hover {
    text-decoration: none;
    color: #fff;
}

div.field, div.actions {
    margin-bottom: 10px;
}

.left {
    float: left;
}

#nav_list ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 130px;
    border-bottom: 1px solid #ccc;
}

#nav_list ul li {
    position: relative;
}

#nav_list li ul {
    position: absolute;
    left: 129px;
    top: 0;
    display: none;
    z-index: 55;
}

#nav_list ul li a {
    display: block;
    text-decoration: none;
    color: #777;
    background: #fff;
    padding: 5px;
    border: 1px solid #ccc;
    border-bottom: 0;
}

#nav_list li:hover ul, li.over ul {
    display: block;
    background-color: #E6EFC2;
    color: #529214;
}

#nav_list li a:hover {
    background-color: #dff4ff;
    border: 1px solid #ccc;
    border-bottom: none
}

div.flash {
  margin-bottom: 1em;
  border: 2px solid #dddddd;
}

.error, .alert {
  background-color: #fbe3e4;
  color: #8a1f11;
  border-color: #fbc2c4;
}

.error a, .alert a {
  color: #8a1f11;
}

.notice {
  background-color: #fff6bf;
  color: #514721;
  border-color: #ffd324;
}

.notice a {
  color: #514721;
}

.info {
  background-color: #d5edf8;
  color: #205791;
  border-color: #92cae4;
}

.info a {
  color: #205791;
}

/* signin */
#services_signin div.logos { overflow:auto; margin-bottom: 40px; }

/* signup: create new account */
#services_new {}
#services_new input { margin-right: 20px; }
#services_new div { background-color: #dddddd; padding: 20px; margin-bottom: 40px; }

/* manage your services */
#services_manage {}
.service_in_use { background-color: #dddddd; height: 64px; width: 300px; margin-bottom: 10px; padding: 5px; }
.service_img { float: left; }
.service_userdata { font-size: 12px; line-height: 1.1em; margin-left: 80px; padding-top: 6px;}
.service_userdata span { color: #c81419; }
#services_available { clear: both; margin-top: 40px; }

/* the list with the available services that consist of icons and text */
#services_list { margin: 20px 0; padding: 0; list-style: none; }
#services_list li { display: inline; float: left; margin-right: 25px; margin-bottom: 20px; width: 100px; text-align: center; }
#services_list img { display: block; margin-left: auto; margin-right: auto; }
a { color: #74809a; text-decoration: none !important;}
/*a:visited { color: #74809a; }*/
a:hover { color: #c81419; }
option {font-size:85%;font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;}
select {font-size:85%;font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;}
#large_photo {display:none;}
ul.button_list{list-style-type: none; display: inline-block; }
div#name {display:inline;}
div#photo_post {
    position: relative;
    z-index: 1;
}
div#photo_post img:hover{border:2px solid #c81419;}
.posts div {
    float: left;
}


.posts li {
    list-style: none;
    background-color: #ddd;
    padding: 20px;
    font-size: 11px;
    position: relative;
    margin-top: 10px;
}

.posts li p {
    font-size: 13px
}

.posts li h3 {
    width: 310px;
    line-height: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0px
}

.posts li h3 a {
    font-size: 16px;
    font-family: Helvetica, sans-serif;
    color: #171717;
    font-weight: bold
}

.posts li .info {
    float: right;
    margin-left: 20px;
    width: 100px;
    text-align: center;
    position: relative;
    padding-top: 40px
}

.posts div.vote {
    float: right;
    width: 15%;
}

.count {
    width: 5%;
    font-size: 20px;
    vertical-align: middle;
}



span.vote {
    color: #000066;
    font-size: 50px;
    text-align: center;
}

.posts div.actions {
    float: right;
    padding-top: 80px;
}

/* New Posts */
li#video_field {display:none;}
li#photo_field {display:none;}
li#news_field {display:none;}
#post_fields {list-style:none;}

/* Custom Fancybox */
#photo-close { text-align: left; }

#photo-close span { float: right; }

