ul.statistics {
    padding: 33px;
    margin-right: -33px;
}

ul.statistics li {
    border-bottom: 1px solid #CACBCB;
    float: left;
    margin: 0 32px 32px 0;
    width: 344px;
}

ul.statistics li:nth-child(2n+1) {
  clear: both;
}

ul.statistics li h3 {
    background: url(/images/bg_blue_button.png);
    font-family: "Tahoma";
    color: #fff;
    line-height: 22px;
    text-transform: uppercase;
    padding: 0 10px;
    margin-bottom: 1px;
}

.statistics h3 a,
.statistics h3 a:link,
.statistics h3 a:visited {
    color: #fff;
}

ul.statistics li table {
    border-style: solid;
    border-width: 0 1px;
    border-color: #CACBCB;
    line-height: 21px;
}

ul.statistics li table a {
    color: #09689e;
}

ul.statistics li table tr {
    height: auto
}

ul.statistics li table tr.even {
    background: #ECEAEA
}

ul.statistics li table tr.odd {
    background: #F4F4F4
}

ul.statistics li th {
    color: #000;
    font-family: "Tahoma";
    font-weight: bold;
    text-align: center;
    background: #CACBCB;
    border-right: 1px solid #fff;
}

ul.statistics li td {
    padding: 0 10px;
    border-right: 1px solid #fff;
}

ul.statistics li table td.smack, ul.statistics li table td.redemp {
    text-align: center
}

ul.statistics li table td.smack {
	color: #106f00;
}

ul.statistics li table td.redemp {
	color: #b30000;
    border-color: #CACBCB
}

ul.statistics li table td.redemp, ul.statistics li table th:last-child {
    border-color: #CACBCB
}
