#login .content_title {
    padding-top: 28px;
    padding-bottom: 10px;
}

#login .title {
    padding: 12px 15px 0 20px;
    height: 25px;
}

#login .left_col {
    float: left;
    border-right: 1px solid #CFCFCF;
    width: 389px;
}

#login .right_col {
    float: right;
    width: 390px;
}

.standard .column_wrapper {
    margin: 0 0 0 0;
    position: relative;
    padding-bottom: 1px;
}

.standard .column_wrapper.sign_in-bg {
    background: url(/images/user_colums-bg.png) no-repeat bottom;
}

.standard .left_column {
    width: 475px;
    float: left;
}

.standard .right_column {
    border-left: 1px solid #CFCFCF;
    width: 309px;
    float: left;
}

.standard .title_box {
    background: #fff;
    height: 35px;
    border-width: 1px 0;
    border-style: solid;
    border-color: #cfcfcf;
}

.standard .left_column .title_box {
    width: 476px;
}

.standard .title_box h2 {
    margin: 0px;
    font-size: 13px;
    font-weight: normal;
    padding: 12px 0 0 20px;
}

.standard .right_column .title_box {
    width: 310px;
    border-width: 1px 0px;
    border-style: solid;
    border-color: #cfcfcf;
}

.standard .left_column .form_container {
    background: #fff;
    padding: 2px 2px 0;
    width: 471px;
}

.standard .post_form.form_container {
    background: #fff;
    padding: 2px;
    border-bottom: solid 1px #cfcfcf;
}

.standard .left_column .form_container .form_wrapper {
    background: #F3F3F3;
    height: 100%;
    width: 100%;
}

.standard .post_form .form_wrapper {
    background: #F3F3F3;
}

.standard .left_column .form_sign_up {
}

.form_sign_up .table_padding, .form_sign_in .table_padding, .edit_profile .table_padding {
    padding-top: 26px;
}

.post_form .table_padding {
    padding: 28px 0;
    min-height: 450px;
}

.sign_in_wrapper .table_padding {
    padding-top: 24px;
}

.standard table, .facebox_form table {
    width: 100%;
}

.standard .share_post table {
    width: 770px;
}

.standard table tr, .facebox_form table tr {
    height: 37px;
}

.standard table .description, .facebox_form table .description {
    width: 148px;
    text-align: right;
    font-size: 13px;
    color: #09689E;
    vertical-align: middle;
}

.standard table .description.va-top, .facebox_form table .description.va-top {
    vertical-align: top;
    padding-top: 2px;
}

.standard table .description.va-top2, .facebox_form table .description.va-top2 {
    vertical-align: top;
    padding-top: 6px;
}

.facebox_form table .description {
    width: 125px;
}

.standard .post_form table .description {
    width: 230px;
}

.standard .post_form.share_post table .description {
    width: 80px;
}

.standard table .entry, .facebox_form table .entry {
    padding: 0 0 0 9px;
    color: #7a7b7d;
    vertical-align: middle;
}

.standard table .entry.vtop, .facebox_form table .entry.vtop {
  vertical-align: top;
}

.standard .required_sign {
    color: #09689E;
    font-size: 13pt;
    padding: 0 0 0 2px;
}

/*.standard table .gender {width: 260px;}*/
.standard table .affilation {
    width: 100px;
}

.standard table .college {
    width: 144px;
}

.facebox_form {
  padding: 10px 20px;
}

.standard input, .standard textarea, .facebox_form input, .facebox_form textarea {
    height: 24px;
    color: #7a7b7d;
    width: 253px;
    background: #fbfbfb;
    border-width: 1px 1px 2px 1px;
    border-color: #cdcdcd;
    border-style: solid;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    float: left;
    font-size: 13px;
}

.standard .post_form input, .standard .post_form textarea {
    width: 293px;
}

.facebox_form input, .facebox_form textarea {
    width: 167px;
}

.standard .post_form textarea, .facebox_form textarea {
    height: 210px;
}

.standard .post_form.share_post textarea {
    height: 130px;
}

.standard table .entry input, .standard table .entry textarea, .facebox_form table .entry input, .facebox_form table .entry textarea {
    padding: 0 0 0 7px;
}

.standard input[type="file"], .facebox_form input[type="file"] {
    height: auto;
    border: none;
    padding: 0 !important;
    background: transparent;
}

.standard input[type="checkbox"], .facebox_form input[type="checkbox"] {
    height: 13px;
    width: 13px;
}

.standard select, .facebox_form select {
    height: 24px;
    /*
    color: #7a7b7d;
    background: #fbfbfb;
    border-width: 1px 1px 2px 1px;
    border-color:#cdcdcd;
    border-style:solid;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    */
}

.standard .important_notice {
    width: 260px;
    margin: 4px 0 0px 157px;
}

.standard .important_notice .required_sign {
    float: left;
    color: #09689E;
    font-size: 13pt;
    display: block;
    position: relative;
}

.standard .important_notice_text {
    float: left;
    color: #7a7b7d;
    font-size: 11px;
    padding: 0 0 0 2px;
    display: block;
}

.standard .form_wrapper .blue_button, .facebox_form .blue_button {
    width: 69px;
    float: right;
}

.standard .form_wrapper table .blue_button {
    float: right;
    margin: 3px 0;
    width: 160px;
    color: #FFF;
    font-size: 14.42pt;
    line-height: 24pt;
    font-family: Conv_MyriadPro-BoldCond;
}

.standard .confirmation_container {
    margin: 0 0 0 135px;
    width: 290px;
}

.standard .post_form .confirmation_container {
    margin: 15px 0 0 0;
    width: 541px;
}

.standard .post_form.share_post .confirmation_container {
    margin: 15px 0 0 0;
    width: 391px;
}

.standard .share_post .content_bg {
  position: relative;
  display: block;
}

.standard .share_post .content_bg img {
    padding: 10px;
    background-image: url(/images/view_more_bg.png);
    margin-top: 10px;
    position: absolute;
    right: 20px;
    top: 0;
}

#address_book .groups {
    width: 160px;
}

#address_book .contacts {
    width: 520px;
}

#address_book .groups, #address_book .contacts {
    float: left;
}

#address_book .groups li, #address_book .contacts li {
    height: 15px;
    padding: 5px 0;
    border-bottom: solid 1px #cfcfcf;
}

#address_book .groups li {
    border-right: solid 1px #cfcfcf;
    cursor: pointer;
}

#address_book .groups li.active, #address_book .contacts ul {
    background: #FFF;
    border-right: none;
}

#address_book .groups span, #address_book .contacts span {
    display: block;
    font-weight: bold;
    padding: 5px 0;
}

.facebox_form .confirmation_container {
    margin: 5px 0;
    padding-top: 10px;
    width: 100%;
    border-top: solid 1px #cfcfcf;
}

.standard .confirmation_container .terms {
    float: left;
}

.standard .confirmation_container .terms .check_box {
    float: left;
}

.standard .confirmation_container .terms .text {
    font-size: 11px;
    float: left;
    color: #7A7B7D;
    width: 185px;
    margin: 0 0 0 11px;
}

.standard .confirmation_container .terms .text a {
    text-decoration: underline;
    color: #7A7B7D;
}

.blue_button input {
    cursor: pointer;
    background: none repeat scroll 0 0 transparent !important;
    border: medium none !important;
    color: #FFFFFF !important;
    display: block;
    font-family: Conv_MyriadPro-BoldCond;
    font-size: 20px;
    padding-top: 4px;
    width: 100% !important;
}

.standard .right_column .sign_up_with_container {
    width: 310px;
    height: 193px;
}

.standard  .sign_in_column .sign_up_with_container {
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: #cfcfcf;
    height: 247px;
}

.standard .right_column .sign_up_with_container ul {
    background: #F3F3F3;
    border-width: 2px;
    border-color: #fff;
    border-style: solid;
    padding: 9px 64px 0 55px;
    width: 187px;
    height: 180px;
}

.standard  .sign_in_column .sign_up_with_container ul {
    height: 212px;
    padding: 31px 64px 0 55px;
}

.standard .right_column .sign_up_with_container ul li {
    margin: 22px 0 0 0;
}

.standard .right_column .sign_up_with_container ul li a {
    display: block;
    width: 187px;
    height: 28px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

.standard .right_column .sign_up_with_container ul li a .symbol {
    display: block;
    float: left;
    height: 28px;
    width: 27px;
    margin: 0 0 0 3px;
}

.standard .right_column .sign_up_with_container ul li a .invitation {
    color: #FFFFFF;
    display: block;
    float: left;
    font-size: 12px;
    font-weight: bold;
    height: 21px;
    padding: 7px 0 0;
    text-align: center;
    width: 156px;
}

.standard .right_column .sign_up_with_container ul .twitter a {
    background: url('/images/bg_twitter_button.png') repeat-x;
}

.standard .right_column .sign_up_with_container ul .facebook a {
    background: url('/images/bg_facebook_button.png') repeat-x;
}

.standard .right_column .sign_up_with_container ul .google a {
    background: url('/images/bg_google_button.png') repeat-x;
}

.standard .right_column .sign_up_with_container ul .google a .symbol {
    width: 30px;
    margin: 0 0 0 0px;
}

.standard .right_column .sign_in_container {
    width: 310px;
    height: 168px;
}

.standard .right_column .sign_in_container .sign_in_wrapper {
    width: 306px;
    height: 164px;
    border-color: #fff;
    border-style: solid;
    border-width: 2px;
    background: #F3F3F3;
}

.standard .sign_in_container table {
    padding: 20px 0 22px 0;
}

.standard .sign_in_container table tr {
    height: 35px;
}

.standard .sign_in_container table .description {
    width: 84px;
}

.standard .sign_in_container input {
    width: 190px;
}

.standard .sign_in_container .links {
    margin: 24px 0 0 0;
}

.standard .sign_in_container .links .l_column {
    float: left;
    width: 209px;
    text-align: right;
    font-size: 11px;
    padding: 0px 10px 0 0;
}

.standard .sign_in_container .links .l_column a:focus, .standard .sign_in_container .links .l_column a:hover {
    text-decoration: underline;
}

.standard .sign_in_container .links .l_column a {
    color: #7A7B7D;
    display: block;
}

.standard .sign_in_container .links .r_column {
    float: left;
    width: 69px;
}

.standard .sign_in_container .links .r_column .blue_button {
    width: 69px;
    float: left;
}

.standard .left_column .form_sign_in {
    padding: 2px;
    width: 471px;
    height: 243px;
    border-width: 0px 1px 1px 0px;
    border-style: solid;
    border-color: #cfcfcf;
}

.standard .left_column .remember {
    font-size: 11px;
}

.standard .left_column .form_sign_in .remember {
    margin: 9px 0 13px 157px;
}

.standard .left_column .form_sign_in .remember label {
    clear: left;
    display: block;
    float: left;
    line-height: 1.8em;
    padding: 0 2px 0 5px;
}

.standard .left_column .form_sign_in input {
    width: 272px;
}

.standard .left_column .form_sign_in input[type="checkbox"] {
    height: 13px;
    width: 13px;
    float:left;
}

.standard .left_column .form_sign_in .links {
    margin: 0 0 15px 157px;
}

.standard .form_sign_in .links .l_column {
    float: left;
    width: 193px;
    text-align: right;
    font-size: 11px;
    padding: 0px 10px 0 0;
}

.standard .form_sign_in .links .l_column a {
    color: #7A7B7D;
    display: block;
}

.standard .form_sign_in .links .r_column {
    float: left;
    width: 69px;
}

.standard .form_sign_in .links .r_column .blue_button {
    width: 69px;
    float: left;
}

.standard .form_sign_in .not_a_member_box {
    border-top: 1px solid #cbcbcb;
    margin: 0 0 0 157px;
    padding: 10px 0 0 0;
    width: 272px;
}

.standard .form_sign_in .not_a_member_box .not_a_member {
    font-size: 12px;
    color: #000;
    padding: 0 0 0 2px;
}

.standard .form_sign_in .not_a_member_box .sign_up_now_button {
    float: right;
}

.standard .form_sign_in .not_a_member_box .sign_up_now_button a {
    padding-left: 9px;
    padding-right: 9px;
}

.standard .form_sign_in .not_a_member_box .not_a_member_text {
    font-size: 13px;
    padding: 6px 0 0 0;
    float: left;
}

.standard .form_sign_up .star {
    width: 54px;
    vertical-align: super;
}

.standard .field_with_errors, .content .field_with_errors {
    display: inline-block;
}

.standard .field_with_errors .message, .content .field_with_errors .message {
    display: none;
}

.standard .description .field_with_errors label, .field_with_errors label .text a, .content .field_with_errors label {
    color: red !important;
}

.standard .affiliation_span {
    display: inline-block;
    float: left;
}

.standard .college_span {
    display: inline-block;
    float: right
}

.standard .edit_profile .confirmation_container {
    margin: 7px 0 0 157px;
    width: 262px;
    padding: 0 0 22px 0;
}

.standard .edit_profile .confirmation_container .accept {
    float: left;
    width: 262px;
}

.standard .edit_profile .accept .blue_button {
    float: right;
}

.standard .edit_profile .important_notice {
    float: left;
    margin: 0;
    width: auto;
}

.dotted_area {
    width: 782px;
    margin: 2px;
    height: 44px;
    background: url('/images/dotted_bg.png') repeat-x;
}

.dotted_area .back_button {
    margin: 10px 14px 0 0;
    float: right;
}

.standard .edit_profile .star {
    width: 54px;
    vertical-align: super;
}

.standard .right_column .cancel_account_container {
    width: 310px;
    border-width: 0px 0px 0px 0px;
    border-style: solid;
    border-color: #cfcfcf;
}

.standard .right_column .cancel_account_container .cancel_account_wrapper {
    width: 306px;
    min-height: 400px;
    border-color: #fff;
    border-style: solid;
    border-width: 2px;
    background: #F3F3F3;
}

.info_container {
    margin: 21px 0 0 18px;
}

.info_container .auths {

}

.info_text {
    margin: 0 0 9px 0;
}

.info_container ul li a {
    text-decoration: underline;
}

.cont_title {
    float: left;
    display: block;
}

.additional_buttons {
    float: right;
    margin: 33px 7px 0 0;
}

#services_manage .service_in_use {
    width: 270px;
    height: 64px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    background: #dadbdd;
    margin: 0 0 20px 0;
}

#services_manage .service_img {
    width: 70px;
    height: 64px;
    float: left;
}

#services_manage .service_userdata {
    padding: 6px 0 8px 0;
    width: 200px;
    float: left;
    font-size: 12px;
    line-height: 14px;
    color: #48494e;
}

#services_manage #services_list {
    width: 233px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    background: #dadbdd;
    margin: 0 0 22px 0;
    padding: 20px 0 9px 37px;
}

#services_manage #services_list li {
    margin: 0px 0 11px 0;
}

#services_manage #services_list li a {
    display: block;
    width: 187px;
    height: 28px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    margin: 0;
    text-decoration: none;
}

#services_manage #services_list li a .symbol {
    display: block;
    float: left;
    height: 28px;
    width: 27px;
    margin: 0 0 0 3px;
}

#services_manage #services_list li a .invitation {
    color: #FFFFFF;
    display: block;
    float: left;
    font-size: 12px;
    font-weight: bold;
    height: 21px;
    padding: 7px 0 0;
    text-align: center;
    width: 156px;
}

#services_manage #services_list .twitter a {
    background: url('/images/bg_twitter_button.png') repeat-x;
}

#services_manage #services_list .facebook a {
    background: url('/images/bg_facebook_button.png') repeat-x;
}

#services_manage #services_list .google a {
    background: url('/images/bg_google_button.png') repeat-x;
}

#services_manage #services_list .google a .symbol {
    width: 30px;
    margin: 0 0 0 0px;
}

.cancel_account_container .cancel_account {
    padding: 16px 0 25px 0;
    width: 273px;
    border-top: 1px solid #cbcbcb;
}

.cancel_account_container .cancel_account .white_button {
    float: left;
    margin: 0 9px 0 0;
}

.email_settings_container {
    width: 310px;
}

.email_settings_wrapper {
    width: 306px;
    border-color: #fff;
    border-style: solid;
    border-width: 2px;
    background: #F3F3F3;
}

.email_settings_wrapper ul {
    margin: 5px;
}

.email_settings_wrapper ul li {
    float: left;
}

.email_settings_wrapper .im {
    float: left;
}

.email_settings_wrapper .mg {
    float: right;
}

.email_settings_wrapper .dark_button a {
    font-size: 18px;
}


