<% Conference.all.each do |conference| %>
    <table class="conf_stat" cellspacing="5px">
      <tr>
        <th><%= link_to conference.name, conference_path(conference) %></th>
        <th>Smacks</th>
        <th>Redemptions</th>
      </tr>
      <% conference.colleges.limit(5).order('smacks_count desc').each do |college| %>
          <tr>
            <td><%= link_to college.name, college %></td>
            <td><%= college.smacks_count %></td>
            <td><%= college.redemptions_count %></td>
          </tr>
      <% end %>
    </table>
<% end %>
<br style="clear:both"/>