<ul class="inner_menu">
  <li>
    <span class="normal">Smacks: <%= @college.smacks_count %></span>
  </li>
  <li>
    <span class="normal">Redemptions: <%= @college.redemptions_count %></span>
  </li>
</ul>