<ul class="inner_menu">
  <li>
    <a href="<%= college_smacks_path(@college) %>">Smacks: <%= @college.smacks_count %></a>
  </li>
  <li>
    <a href="<%= college_redemptions_path(@college) %>">Redemptions: <%= @college.redemptions_count %></a>
  </li>
</ul>