<table class="masthead">
<tr>
	<td>
		    <%= link_to "Home", root_path %> |
			<%= link_to @college.name, college_path(@college) %> |
			<%= link_to "Smacks", college_smacks_path(@college) %> |
			<%= link_to "Redemptions", college_redemptions_path(@college) %>
	</td>
</tr>
</table>
