<table class="searchtbl">
  <tr>
    <td>
      <%= form_for Post.search do |f| %>
          <%= f.label "Search Posts:" %>
          <%= f.text_field :title_or_summary_contains %>
          <%= f.submit "Go!", :name =>nil %>
      <% end %>
    </td>
  </tr>
</table>