<table class="searchtbl">
  <tr>
    <td>
      <%= form_for 'search', :url => request.env['PATH_INFO'][/\/search\/?$/] ? request.env['PATH_INFO'] : "#{request.env['PATH_INFO']}/search", :html => {:method => :post} do |f| %>
          <%= f.label "Search Posts:" %>
          <%= f.text_field :title_or_summary_contains %>
          <%= f.submit "Go!", :name =>nil %>
      <% end %>
    </td>
  </tr>
</table>
<br style="clear:both"/>