<h1>Campus Smack</h1>
<p>
This is the Home Page for Campus Smack
</p>
<div class = "colleges">Click On A Campus Below</div><br>
<% @colleges.each do |college| %>
<%= link_to college.name, college %><br>
<% end %>