<h1>Campus Smack</h1>
<p>
This is the Home Page for Campus Smack
</p>
<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
<br>
<div class = "colleges">Click On Your Campus Below</div>

<% @colleges.each do |college| %>
<a href = "/gthome"><%=h college.name %></a><br>
<% end %>


