<h1>Campus Smack</h1> 

	<%=link_to "Sign Up Now!", new_user_registration_path, :method => :get, :class => "button" %><br><br><br>

<div class = "colleges">Click On A Campus Below</div><br>

<% @colleges.each do |college| %>
<%= link_to college.name, college %><br>
<% end %>


