<% unless signed_in? %>
  <%= link_to "Sign Up Now!", sign_up_path, :class => "button" %><br class="clear"/>
<% end %>
<h3>Click on a Campus Below</h3>
<ul class="colleges">
  <% @colleges.each do |college| %>
      <li><%= link_to college.name, college %> (<%= college.number_of_smacks %>)</li>
  <% end %>
</ul>
