<div class="content new_level">
  <div class="content_header">
    <div class="content_title">Campusmack FAIL....</div>
  </div>

  <div class="dialog">
    <br><img src="/images/duke-north-carolina-fail.jpg" /><br><br>
    <p>Something happened we didn't plan for and the site has failed kind of like the Duke player pictured above.  Please <%= link_to "Contact Us", '/contact-us' %>  and let us know what caused the site to Fail so we can fix it!</p><br>
    <p>Thanks,</p>
    <p>Campusmack Team</p>
  </div>
</div>
