<div class="content new_level">
  <div class="content_header">
    <div class="content_title">Campusmack FAIL....</div>
  </div>

  <div class="dialog">

    <br><p>Something happened we didn't plan for or an alien attacked the site!  If it happens a lot <%= link_to "Contact Us", '/contact-us' %> directly with the issue so we can hunt down the aliens.</p><br>
	<p>Thanks,</p>
	<p>Campusmack Team</p>
  </div>
</div>