<style type="text/css">
  div.dialog {
    width: 25em;
    padding: 0 4em;
    margin: 2em auto 0 auto;
    border: 1px solid #ccc;
    border-right-color: #999;
    border-bottom-color: #999;
  }

  h1 {
    font-size: 100%;
    color: #f00;
    line-height: 1.5em;
  }
</style>
<div class="content new_level">
  <div class="content_header">
    <div class="content_title">Campusmack FAIL....</div>
  </div>

  <div class="dialog">
    <h1>We're sorry for the fail.</h1>

    <p>We are ashamed of this failure and will look into it as soon as possible!  If it happens a lot, <%= link_to "Contact Us", "#" %>, directly with the issue.</p><br>
	<p>Thanks,</p>
	<p>Campusmack Team</p>
  </div>
</div>