<div class="content new_level">
  <div class="content_header">
    <div class="content_title">Campusmack FAIL....</div>
  </div>

  <div class="dialog">
<<<<<<< HEAD
	
	  <div class="dialog">

		<br><a class="photo" href="http://s3.amazonaws.com/Campusmack/large/15/duke-north-carolina-fail.jpg?1319678894"><img alt="Duke-north-carolina-fail" src="http://s3.amazonaws.com/Campusmack/medium/15/duke-north-carolina-fail.jpg?1319678894" /></a>
	    <br><br><p>Something happened we didn't plan for and the site has failed kind of like the Duke player pictured above.  Please <%= link_to "Contact Us", '/contact-us' %>  and let us know what caused the site to Fail so we can fix it!</p><br>
		<p>Thanks,</p>
		<p>Campusmack Team</p>
	  </div>
	</div>
=======
    <br><img src="/images/duke-north-carolina-fail.jpg" /><br><br>
    <p>Something happened we didn't plan for and the site has failed kind of like the Duke player pictured above.  Please <%= link_to "Contact Us", '/contact-us' %>  and let us know what caused the site to Fail so we can fix it!</p><br>
    <p>Thanks,</p>
    <p>Campusmack Team</p>
  </div>
</div>
>>>>>>> 2e39f51626a8f1fafaa75ecab5480aace06fe1b6
