<div class="content new_level">
  <div class="content_header">
    <div class="content_title">About</div>
    <%= render 'nav' %>
  </div>

  <div class="content_container">
    <div class="page about">
      <h3>The Scoop</h3> 
	  <p>Find, share, and vote on some of the funniest memes, videos, and articles from Colleges nationwide on Campusmack.com.  Campusmack makes trolling the colleges you love to hate easy.  If you've got some ridiculously funny memes you'd like to share, <a href="http://www.campusmack.com/sign_up">sign up </a>today and start smacking!</p>   	
	  <p>SMACK = No explanation needed.  Would you smack your Mom?</p> 
	  <p>REDEMPTION = Bragging Rights<p>

      <p>No bullying, nudity, or lame jokes.  That is all....</p>
<!--
      <h3>Our Team</h3>

      <div class="aboutProfile">
        <img src="/assets/about/mike.jpg"/>

        <div class="aboutBio">
          <h2>Michael Bivone</h2>

          <h3>Founder</h3>
          <p>In addition to working on all things Campusmack, Michael also works as a consultant for a major U.S. telecom provider.  Michael graduated from Georgia Tech with an Industrial Engineering degree and a Certificate in Finance.<br><br>
Michael's inspiration for Campusmack came from many exchanges with his grade school buddies who went to rival colleges.<br><br>
            <a href="http://www.linkedin.com/pub/michael-bivone/4/611/103">LinkedIn </a>| <a href="https://twitter.com/mikebivone/">Twitter</a>
            </p>
        </div>
        <div class="clear"></div>
      </div>

    </div>
-->
  </div>
</div>
