<div class="content new_level">
  <div class="content_header">
    <div class="content_title">About</div>
      <%= render 'nav' %>
  </div>

  <div class="content_container">
    <div class="page">
      <h3>What is Campusmack?</h3>

	  <p>It's not that we don't like you, we just don't like your Campus.  Find all the latest College Smack
		 posted by our Writers and Users at Campusmack.com.<p>

      <p>We want to build an edgy yet clean environment for our users. This means absolutely no bullying, 
	     nudity, profanity, or lame jokes.</p><br>

    </div>
  </div>
</div>
