<div class="content new_level">
  <div class="content_header">
    <div class="content_title">About</div>
      <%= render 'nav' %>
  </div>

  <div class="content_container">
    <div class="page">
      <h3>What is Campusmack?</h3>

      <p>Campusmack is a website where College Students, Alumni, and Fans alike can post and share content about
        campuses they love or love to hate. Have you ever been frustrated by a friend, coworker, or family member who
        constantly gets in your face about how the College you love sucks? Campusmack is designed to help you find and
        post dirt on the Campus your antagonist supports so you can put them in their place!</p>

      <p>While it can be tough to hold back sometimes when talking smack, Campusmack wants to build an edgy yet clean
        environment for its users. This means absolutely no bullying, nudity, or profanity. Please Smack
        Responsibly!</p>

    </div>
  </div>
</div>
