<div class="content new_level">
  <div class="content_header">
    <div class="content_title">Frequently Asked Questions</div>
    <%= render 'nav' %>
  </div>
  <div class="content_container">
    <div class="page">
      <br/>
      <ul>
        <li><a href="#q1">What is a Smack?</a></li>
        <li><a href="#q2">What does "Send as Smack" do?</a></li>
        <li><a href="#q3">What is a Redemption?</a></li>
        <li><a href="#q4">What are the Conference Statistics on the Home page?</a></li>
        <li><a href="#q5">What if I don't want to Smack someone and I just want to Share the post?</a></li>
      </ul>

      <h4>What is a Smack?<a name="q1"></a></h4>

      <p>A Smack can be a photo, youtube video, or a news article about a Campus that can be used as smack talk against
        that Campus. For example, a photo of a Duke basketball player getting dunked on by a UNC player would be a photo
        Smack that a user could post onto the Duke landing page. Once the Smack is posted, it can be viewed by other
        users and sent as Smack.</p>

      <h4>What does "Send as Smack" do?<a name="q2"></a></h4>

      <p>Everything posted onto Campusmack can be sent as Smack Talk. If you find a post on Campusmack that you’d like
        to rub in the face of the opposition,
        click the <%= image_tag('about/send_as_smack_big.jpg') %> button associated with that post. You’ll be brought to
        a landing page that allows you to import contacts from your preferred email provider (Gmail, Yahoo, AOL, etc.)
        and send an email to those you want to Smack. You can type in a custom message and once you click “Send” and
        email will be sent from our servers to the people you selected to receive the Smack. The content from the post
        you chose to share will show up in the recipients Inbox with a Subject line that reads "You just got SMACKED by
        (your first name) (your last name)".</p>

      <h4>What is a Redemption?<a name="q3"></a></h4>

      <p>Redemptions are posts used to talk up a Campus you support. For example, if a College you like is ranked by US
        News as having a top 10 MBA program, you can post this information as a News article Redemption on that
        College's landing page. Redemptions can also be used as Smack talk. If one of your annoying friends sends you a
        Smack about the College with the top 10 MBA program, you can "Smack Back" by sending the article to them about
        your superior academic ranking!</p>

      <h4>What are the Conference Statistics on the Home page?<a name="q4"></a></h4>

      <p>
        <%= image_tag('about/conference_statistics.jpg', :class => 'left') %>
        The snapshot on the left is of one of the Conference Statistics tables from the home page. The Conference
        Statistics
        bar is made up of all Division I-A conferences. Each table displays the top three Colleges from each conference
        in terms of total number of Smacks descending. "S" is an abbreviation for "Smacks" and "R" is an abbreviation
        for "Redemptions".</p>

      <p>If you click on "Full List", it will take you to a landing page with a full list of Colleges from that
        conference with their respective Smack/Redemption counts.</p>

      <h4>What if I don't want to Smack someone and I just want to Share the post?<a name="q5"></a></h4>

      <p>If you stumble upon a post you think is funny and you just want to share it with your friends, click on one of
        the grey icons <%= image_tag('about/share_icons.jpg') %> associated with that post. If you click
        the Mail icon, you'll be be able to send the post in an email. If you click the Facebook icon, you can share the
        post content as a status update on your wall. If you click the Twitter icon, you can share the link for the
        landing page of the post through your Twitter status.</p>

    </div>
  </div>
</div>