<div class="content new_level">
  <div class="content_header">
    <div class="content_title">Our Team</div>
    <%= render 'nav' %>
  </div>
  <div class="content_container">
    <div class="page">

      <h4>Mike Bivone</h4>

      <p><%= image_tag('about/Mike2.jpg', :class => 'left') %></p>

    </div>
  </div>
</div>