<script type="text/javascript" src="http://www.plaxo.com/css/m/js/util.js"></script>
<script type="text/javascript" src="http://www.plaxo.com/css/m/js/basic.js"></script>
<script type="text/javascript" src="http://www.plaxo.com/css/m/js/abc_launcher.js"></script>
<script type="text/javascript">
  function onABCommComplete() {
    // OPTIONAL: do something here after the new data has been populated in your text area
    $.ajax({
      type: "POST",
      url: "<%= import_contacts_path() -%>",
      data: $("#contact").serialize()
    });

  }
</script>

<%= text_area_tag("contact", nil, {:rows => 1, :cols => 5, :style => "height:28px;width:380px;padding:10px;display:none "}) %>
<a href="#" onclick="showPlaxoABChooser('contact', '<%=  plaxo_import_user_path(current_user) %>'); return false"><p>IMPORT CONTACTS</p></a>

