
<table class="masthead">
<tr>
		<td>
			<%= link_to "Videos", college_path(@college, :content_type => "Video")%> 
			| <%= link_to "Photos", college_path(@college, :content_type => "Photo") %> 
			| <%= link_to "News"%> 
			| <%= link_to "Stats" %>
		</td>
</tr>
</table>

