<ul class="masthead">
  <li><%= link_to "Videos", college_videos_path(@college) %></li>
  <li><%= link_to "Photos", college_photos_path(@college) %></li>
  <li><%= link_to "News" , college_news_index_path(@college) %></li>
  <li><%= link_to "Stats", college_stats_path(@college) %></li>
</ul>

