<h1>GT Redemption</h1>
<a href = "/gthome">GT Home</a> |  <a href = "/gtsmack">GT Smack</a>
<p>
<br>
Calvin Highlights<br>
<iframe width="425" height="349" src="http://www.youtube.com/embed/hoMEJGJ86Tg" frameborder="0" allowfullscreen></iframe>
<br>
<br>
Nesbitt Highlights<br>
<iframe width="425" height="349" src="http://www.youtube.com/embed/cVNDRq2Iy6A" frameborder="0" allowfullscreen></iframe>
</p>

