<h1>GT Smack</h1>
<p>
<a href = "/gthome">GT Home</a> |  <a href = "/gtredemption">GT Redemption</a>
</p>
<p>
<br>
Mad Nerd<br>
<iframe width="560" height="349" src="http://www.youtube.com/embed/UaWXbqu5Bcs" frameborder="0" allowfullscreen></iframe>
</p>
<p>
GT Nerd has no Game<br>
<iframe width="425" height="349" src="http://www.youtube.com/embed/hxGLciHfCYY" frameborder="0" allowfullscreen></iframe>
	</p>
