<%= render 'shared/masthead1' %>
<h1><%= @college.name %></h1>
<table class="masthead">
<tr>
	<td>
		Videos | Photos | News | Stats
	</td>
</tr>
</table>
<% unless @college.posts.empty? %>
  <table class="microposts" summary="User microposts">

	<%= render :partial => "/posts/post", :collection => @posts %>
	</table>
	<%= will_paginate @posts %>
	<% end %>
