<li class="team-item">
  <div class="summary">
    <%= link_to censoring(truncate(post.try(:title), :length => 80)), [post.postable, post] %>
    <%= link_to "Article Link", post.news_post.url%>
  </div>
  <%= share_and_voting_icons(post, :news_preview) %>
</li>
