<li class="team-item">
  <h3><%= link_to "News post", post.news_post.url, :class => 'snap_shots' %></h3>
  <div class="summary">
    <%= truncate(post.title, :length => 80) %>
  </div>
  <%= share_icons(post, :preview) %>
</li>
