<li class="team-item">
  <div class="summary">
    <%= link_to censoring(truncate(post.title, :length => 80)), [post.postable, post] %>
  </div>
  <%= link_to "Article Preview", post.news_post.url, :class => 'snap_shots' %>
  <%= share_and_voting_icons(post, :news_preview) %>
</li>
