<a title="Share on Twitter" target="_blank" onclick="window.open('http://twitter.com/share?url=<%= polymorphic_url([post.postable, post])%>&text=Check out <%=  %Q*"#{ post.title }"* %>  on Campusmack.com : '); return false;">
  <%=  image_tag(image, :border => 0) %>
</a>
