<a class="share_icon twitter" title="Share on Twitter" target="_blank" onclick="window.open('http://twitter.com/share?url=<%= polymorphic_url([post.postable, post])%>&text= <%=  post.title %> <%= post.summary %>,'); return false;">
  <%=  image_tag(image, :border => 0) %>
</a>
