<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to campusmack.com, <%= @resource.first_name %></h1>
    <p>
      You have signed up to campusmack.com with username: <%= @resource.username %>.<br/>
    </p>

	<p>You can confirm your account through the link below:</p>

	<p><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
  </body>