<div class="content">
  <div class="content_header clearfix">
    <div class="content_title">Contact</div>
    <div class="content_subtitle">GIVE US YOUR FEEDBACK!</div>
  </div>
  <%= render 'form' %>
</div>