<%= render 'shared/masthead1' %>
</table>
<h1><%= @college.name %> Smack</h1>
<table class="masthead">
<tr>
	<td>
		Videos | Photos | News | Stats
	</td>
</tr>
</table>
  <table class="microposts" summary="User microposts">
	<%= render :partial => "/posts/post", :object => @smack %>
	</table>
