<div class="left sidebar">
  <div id="nav_list">
    <ul id="nav">
      <% Conference.all.each do |conference| %>
          <li><b><%= link_to conference.name, conference %></b>
            <ul>
              <% conference.colleges.each do |college| %>
                  <li class="side_nav"><%= link_to college.name, college %></li>
              <% end %>
            </ul>
          </li>
      <% end %>
    </ul>
  </div>
</div>