<div class="left_menu new_level">
  <ul>
    <% Conference.all.each do |conference| %>
        <li class="with_submenu<%= ' active' if @conference == conference %>">
          <a href="<%= url_for(conference) %>"><%= conference.name %></a>
          <ul>
            <% conference.colleges.each do |college| %>
                <li><%= link_to college.name, college %></li>
            <% end %>
          </ul>
        </li>
    <% end %>
  </ul>
</div>
